<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <div class="container" id="resultado_busqueda">

  </div>
  <h1 id='name'></h1>

  <table id="tabla_resultados">

  </table>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
